body {
	padding-top: 50px;
}

.row {
	margin: 5px -5px 5px -5px;
}

.row div {
	padding-left: 5px;
	padding-right: 5px;
}

.row-block {
	margin-top: 20px;
	margin-bottom: 30px;
}

#footer {
	color: #CCCCCC;
	padding-top: 9px;
	margin: 20px 0 40px;
	border-top: 1px solid #EEE;
}

.row-title {
	font-size: 1.5em;
	font-weight: bold;
}

img {
	max-width: 100%;
	max-height: 300px;
}
